/* Write your global styles here, in PostCSS syntax */
@import 'tailwindcss';

@config "./../tailwind.config.cjs";

@theme {
	--color-primary-900: var(--theme-color-primary-900);
	--color-primary-800: var(--theme-color-primary-800);
	--color-primary-700: var(--theme-color-primary-700);
	--color-primary-600: var(--theme-color-primary-600);
	--color-primary-500: var(--theme-color-primary-500);
	--color-primary-400: var(--theme-color-primary-400);
	--color-primary-300: var(--theme-color-primary-300);
	--color-primary-200: var(--theme-color-primary-200);
	--color-primary-100: var(--theme-color-primary-100);
	--color-primary-50: var(--theme-color-primary-50);
}

@layer base {
	:root {
		--theme-color-primary-900: #a5371b;
		--theme-color-primary-800: #cc4522;
		--theme-color-primary-700: #eb4f27;
		--theme-color-primary-600: #ef562f;
		--theme-color-primary-500: #fe795d;
		--theme-color-primary-400: #ffbcad;
		--theme-color-primary-300: #ffd5cc;
		--theme-color-primary-200: #ffe4de;
		--theme-color-primary-100: #fff1ee;
		--theme-color-primary-50: #fff5f2;
	}
}
