# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
.pnpm-store

sensor-ingestion/charts/sensor-ingestion/templates/
sensor-ingestion/test-env/chart/templates/
sensor-ingestion/metadata-db/frontend/.svelte-kit
sensor-ingestion/metadata-db/frontend/build
sensor-ingestion/metadata-db/frontend/src/lib/common/generated/
charts

build
.svelte-kit

playwright-report
.venv
target
